/* UTILITIES */

/* HEADER */

/* HERO */

/* FEATURES */

/* OUR WORK */

/* OUR TEAM */

/* CUSTOMERS */

/* FOOTER */

/* MODAL WINDOW */

/* PORTFOLIO */

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-menu {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

.portfolio-button {
  padding: 12px 24px;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-accent-color);
  background-color: var(--secundary-accent-color);
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  background: var(--secundary-accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white-color);
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-card-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link:hover .overlay,
.portfolio-card-link:focus .overlay {
  transform: translate(0, 0);
}

.portfolio-card-link:hover,
.portfolio-card-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card-container {
  padding: 32px 16px;
  border: 1px solid#E7E9FC;
  border-top: none;
}

.portfolio-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--navyblue-color-titles);
}

.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--slate-color-text);
}

.overlay-container {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 40px 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--secundary-accent-color);
  background-color: var(--primary-accent-color);
}
