:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2e2f42;
  --color-main-text: #2e2f42;
  --color-secondary-text: #434455;
  --accent: #4d5ae5;
  --accent-pressed-state: #404bbf;
  --accent-hairlines: #e7e9fc;
  --color-bg-team: #f4f4fd;
  --light-slate: #8e8f99;
  --icon-sucess: #31d0aa;
  --modal-dairy: #fcfcfc;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-duration: 250ms;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
}
body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: var(--primary-font);
  color: var(--color-secondary-text);
  background-color: var(--primary-bg-color);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  font-style: normal;
}

/* CONTAINER */
.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* HEADER */
.header {
  border-bottom: 1px solid var(--accent-hairlines);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* NAV  */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* LOGO */
.logo-header {
  display: inline-block;
  padding: 24px 0;
  font-size: 18px;
  line-height: 1.17;
  margin-right: 76px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  color: var(--accent);
}
.logo-blue {
  color: var(--color-main-text);
}
.logo-white {
  color: var(--color-bg-team);
}
.menu-nav-list,
.address-list {
  display: flex;
  gap: 40px;
}
.menu-nav-contact {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-bg-color);
  transition: color var(--timing-duration) var(--timing-function);
}
.menu-nav-link {
  padding: 24px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-family: var(--primary-font);
  color: var(--color-secondary-text);
  transition: color var(--timing-duration) var(--timing-function);
}
.contact:hover,
.contact:focus,
.menu-nav-list:hover,
.menu-nav-list:focus,
.menu-nav-link:hover,
.menu-nav-link:focus {
  color: var(--accent-pressed-state);
}
.menu-nav-link.active {
  position: relative;
  color: var(--accent-pressed-state);
}
.menu-nav-link.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-pressed-state);
}

.contact {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-family: var(--primary-font);
  color: var(--color-secondary-text);
  transition: color var(--timing-duration) var(--timing-function);
}

/* HERO */
.hero {
  max-width: 1440px;
  padding: 188px 0;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(..//images/hero-img/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* BUTTON */
.hero-banner-title {
  margin: 0 auto 36px auto;
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-bg-color);
}
.btn-banner {
  transition-property: background-color;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
  outline: transparent;
  outline-offset: 2px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-bg-color);
  background: var(--accent);
}
.btn-banner:hover,
.btn-banner:focus {
  background-color: var(--accent-pressed-state);
}
.btn-menu {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
  gap: 24px;
}
.btn-modal {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--accent-hairlines);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--color-bg-team);
  color: var(--accent);
  transition: color var(--timing-duration) var(--timing-function),
    background-color var(--timing-duration) var(--timing-function),
    border-color var(--timing-duration) var(--timing-function),
    box-shadow var(--timing-duration) var(--timing-function);
}
.btn-modal:hover,
.btn-modal:focus {
  border: 1px solid transparent;
  background-color: var(--accent-pressed-state);
  color: var(--primary-bg-color);
}
.btn-modal:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-modal:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* SECTION FEATURES */
.features {
  padding: 120px 0;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-bg-color);
}
.features-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--color-bg-team);
}
.features-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-main-text);
}
.features-text {
  color: var(--color-secondary-text);
}
/* SECTION WORKS */
.works {
  padding-bottom: 120px;
}
.works-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works-title {
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 72px;
  text-align: center;
  color: var(--color-main-text);
}
.works-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 72px;
}
/* SECTION TEAM */
.team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.team-tittle {
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 72px;
  text-align: center;
  color: var(--color-main-text);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  flex-basis: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: var(--color-bg-team);
  background-color: var(--primary-bg-color);
}
.team-content {
  padding: 32px 0;
}
.team-item-title {
  margin-bottom: 8px;
  text-align: center;
}
.team-text {
  margin-bottom: 8px;
  text-align: center;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--color-bg-team);
  background-color: var(--accent);
  transition: background-color var(--timing-duration) var(--timing-function);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-pressed-state);
}
/* SECTION CUSTOMERS */
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-title {
  font-size: 36px;
  line-height: 1.11;
  columns: var(--color-main-text);
  margin-bottom: 72px;
  text-align: center;
  color: var(--color-main-text);
}
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.customers-item {
  width: 168px;
  height: 88px;
  color: var(--light-slate);
  border-color: var(--accent-pressed-state);
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--light-slate);
  color: var(--light-slate);
  transition: color var(--timing-duration) var(--timing-function),
    border-color var(--timing-duration) var(--timing-function);
}
.customers-icon {
  fill: currentColor;
}
.customers-item .customers-link:focus,
.customers-item .customers-link:hover,
.customers-icon:focus,
.customers-icon:hover {
  border-color: var(--accent-pressed-state);
  color: var(--accent-pressed-state);
  fill: var(--accent-pressed-state);
}
/* PORTFOLIO */
.gallery-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
}
.gallery-card {
  width: calc((100% - 48px) / 3);
}
.gallery-link {
  display: block;
  transition: box-shadow var(--timing-duration) var(--timing-function);
}
.gallery-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.gallery-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.gallery-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.card-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-bg-team);
  background: var(--accent);
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  transform: translateY(100%);
  transition: transform var(--timing-duration) var(--timing-function);
}
.gallery-link:hover .overlay,
.gallery-link:focus .overlay {
  transform: translateY(0);
}
/* FOOTER */
.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-right {
  margin-right: 120px;
}
.footer-list {
  display: flex;
  gap: 16px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.17;
  margin-right: 76px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  color: var(--accent);
  transition: background-color var(--timing-duration) var(--timing-function);
}
.text-white {
  max-width: 264px;
  font-weight: 500;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-bg-color);
}

.icon:hover,
.icon:focus {
  background-color: var(--icon-sucess);
}
.address-subscription {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-form-field {
  display: flex;
}
.footer-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-bg-color);
}
.footer-form-submit {
  display: flex;
  min-width: 165px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  color: var(--primary-bg-color);
  background-color: var(--accent);
  fill: var(--modal-dairy);
}
.footer-form-submit-icon {
  margin-left: 16px;
  fill: var(--primary-bg-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MODAL */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  padding: 72px 24px 24px 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--modal-dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform var(--timing-duration) var(--timing-function);
}
.modal-close-x {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-hairlines);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border var(--timing-duration) var(--timing-function),
    background-color var(--timing-duration) var(--timing-function);
}
.modal-close-x:hover,
.modal-close-x:focus {
  fill: var(--primary-bg-color);
  background-color: var(--accent-pressed-state);
  border: none;
}

.modal-icon-x {
  transition: fill var(--timing-duration) var(--timing-function);
}
.modal-icon-x:hover,
.modal-icon-x:focus {
  fill: var(--primary-bg-color);
}
.modal-request-title {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--color-main-text);
}
.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.modal-form-section {
  margin-bottom: 8px;
}
.modal-form-section-texterea {
  margin-bottom: 16px;
}
.modal-form-message {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color var(--timing-duration) var(--timing-function);
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-message:hover {
  border-color: var(--accent);
}
.modal-form-field {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.modal-form-item {
  position: relative;
}

.modal-form-input-descr {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  color: var(--color-main-text);
  transition: border-color var(--timing-duration) var(--timing-function);
  background-color: transparent;
  outline: transparent;
}
.modal-form-input:focus {
  border-color: var(--accent);
  outline: none;
}

.modal-form-icon {
  position: absolute;
  display: flex;
  left: 16px;
  bottom: 8px;
  width: 18px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--color-main-text);
  transition: fill var(--timing-duration) var(--timing-function);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent);
}
.modal-form-field-textarea {
  margin-bottom: 8px;
}
.modal-form-message {
  display: block;
  margin-top: 4px;
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  color: var(--color-main-text);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color var(--timing-duration) var(--timing-function);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent);
}
.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-section-chekbox {
  margin-bottom: 24px;
}
.modal-form-check-descr {
  margin-top: 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.modal-form-check-copy {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  color: var(--primary-bg-color);
}
.modal-form-check-copy-icon {
  fill: currentColor;
}
.modal-form-check:checked + .modal-form-check-descr .modal-form-check-copy {
  background-color: var(--accent-pressed-state);
  border: none;
  fill: var(--color-bg-team);
}
.modal-form-check:focus + .modal-form-check-copy {
  border-color: var(--accent-pressed-state);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.user-policy-link {
  color: var(--accent);
}
.modal-form-submit {
  align-self: center;
  padding: 16px 32px;
  margin-top: 24px;
  min-width: 169px;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--timing-duration) var(--timing-function);
  color: var(--primary-bg-color);
  background-color: var(--accent);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.modal-form-submit:hover,
.modal-form-submit:focus {
  border-color: 1px solid transparent;
  color: var(--primary-bg-color);
  background-color: var(--accent-pressed-state);
}
