.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
  margin-bottom: 72px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--navyblue-color-titles);
  text-align: center;
}

.customers-menu {
  display: flex;
  column-gap: 16px;
  row-gap: 72px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.customers-item {
  justify-content: center;
  align-items: center;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;

  width: 168px;
  height: 88px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-icon {
  fill: currentColor;
  width: 104px;
  height: 56px;
}

@media screen and (min-width: 768px) {
  .customers-menu {
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
